:root {
  // Размеры
  --navbar-height: 88px;

  --page-header-height: 80px;

  --messages-footer-height: 68px;

  // z - Индексы

  // Цвета
  --background-color: #FFF;
  --background-color-2: #F0F4F8;
  --background-color-3: #0a6bcb;

  --text-color: #000;
  --text-color-2: #555E68FF;
  --text-color-3: #FFF;
  --text-color-4: #1976D2FF;
}
