@mixin DefaultFlex() {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TechnicalSupportPage {
  height: 100%;

  &-content {
    height: calc(100% - var(--page-header-height));

    &-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1em;

      height: var(--messages-footer-height);

      background-color: var(--background-color-2);

      &-input {
        padding: 5px 0 5px 12px;
      }
    }

    &-loading {
      @include DefaultFlex;
      background-color: var(--background-color-2);
    }

    &-empty {
      @include DefaultFlex;
    }
  }
}