.UserFeedPageFeed {
  min-width: 100%;

  &-tags {
    margin-top: 1em;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
  }

  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    button {
      color: #32383e;
    }
  }

  &-img {
    min-height: 150px !important;
  }
}