.DatePicker {
  height: 100%;
  width: 100%;

  &-wrapper {
    height: calc(100% - 44.5px);
    width: 100%;
  }
}

.react-datepicker {
  height: 100%;
  width: 100%;
}

.react-datepicker__month-container {
  height: 100%;
  width: 100%;
}

.react-datepicker__day {
  height: 40px !important;
  width: 40px !important;
  border-radius: 100% !important;
  line-height: 40px !important;
}

.react-datepicker__day--in-range { // выбранные дни
  color: var(--text-color-3) !important;
  background-color: var(--background-color-3) !important;
}

.react-datepicker__day--keyboard-selected { // последний выбранный день
  color: var(--text-color-3) !important;
}