.App {
  height: calc(100vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0));
  width: 100vw;
}

ul.MuiList-root {
  width: 100%;
}

li.MuiListItem-root {
  padding-left: 0;
  padding-right: 0;
}