.PostCommentsPage {
  height: 100%;

  &-content {
    padding: 1em;
    overflow-y: auto;
    height: calc(100% - var(--page-header-height) - var(--messages-footer-height));
    background-color: var(--background-color-2);

    &-chat {
      padding: 1em 0.5em;
      height: fit-content;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 1em;

      &-empty {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;

    height: var(--messages-footer-height);

    background-color: var(--background-color-2);

    border-top: 1px solid var();

    &-input {
      padding: 5px 0 5px 12px;
    }
  }
}