<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOEEf-f4V8s9dfubtii4yeX3w9eUdoyRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>844617634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.adsme</string>
	<key>PROJECT_ID</key>
	<string>adsme-5448e</string>
	<key>STORAGE_BUCKET</key>
	<string>adsme-5448e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844617634:ios:077d45f3567cc593c9c4fb</string>
</dict>
</plist>